/* Global Styles */

body {
  background: #aac4e8;
  color: #333333;
  margin-top: 5rem;
  animation: background-color-change 10s infinite;
}
/* changing the background color smoothly */
@keyframes background-color-change {
  0% {
    background-color: #f2f2f2; /* Gray color */
  }
  25% {
    background-color: #e6e6e6; /* Darker gray color */
  }
  50% {
    background-color: #d9d9d9; /* Even darker gray color */
  }
  75% {
    background-color: #e6e6e6; /* Darker gray color */
  }
  100% {
    background-color: #f2f2f2; /* Gray color */
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

/* Header */

.site-header .navbar {
  background-color: #0c68aa;
  transition: background-color 0.3s ease;
}

.site-header .navbar:hover {
  background-color: #00395f;
}

.site-header .navbar-brand {
  color: #cbd5db;
  font-weight: bold;
}

.site-header .navbar-brand:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* Main Content */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}

.article-title {
  color: #444444;
}

.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.media {
  border: 1px solid black;
  padding: 20px;
}

/* Product Information */

.product-info-heading {
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.product-info > div {
  flex-basis: 100%;
}

.product-info input[type="text"],
.product-info input[type="number"] {
  margin: 0 auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.product-image {
  margin-left: 1rem;
  float: right;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Sidebar */

.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
}

.sidebar h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar p {
  color: #888888;
}

.sidebar .list-group-item {
  background-color: #f8f9fa !important;
  border: none;
  border-radius: 0;
  padding: 18px;
  margin-bottom: 2px;
}

.sidebar .list-group-item:hover {
  background-color: #e9ecef !important;
  cursor: pointer;
}

.sidebar .list-group-item:last-child {
  margin-bottom: 0;
}

/* Alerts */

.alert {
  border-radius: 3px;
}

.alert-primary {
  background-color: #cfe2ff;
  color: #004085;
}

.alert-secondary {
  background-color: #e2e3e5;
  color: #383d41;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
}

.flip-effect {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.flip-effect:hover {
  transform: rotateY(180deg);
}

.footer-creators {
  list-style: none;
  padding: 0;
}

.footer-creators li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.footer-creators li::after {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  backface-visibility: hidden;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.footer-creators li:hover::after {
  transform: rotateY(180deg);
}

.footer-creators li span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a92323;
  transition: transform 0.5s;
  opacity: 0;
}

.footer-creators li:hover span {
  transform: rotateY(180deg);
  opacity: 1;
}
/* blinking text for remove and add item in admin panel */
@keyframes blink-red {
  0% {
    color: rgb(95, 0, 0);
  }
  50% {
    color: rgb(255, 92, 92);
  }
  100% {
    color: rgb(95, 0, 0);
  }
}

.blink-red {
  animation: blink-red 5.5s infinite;
}

@keyframes blink {
  0% {
    color: rgb(0, 0, 95);
  } 
  50% {
    color: rgb(92, 92, 255);
  }
  100% {
    color: rgb(0, 0, 95);
  }
}

.blink-blue {
  animation: blink 5.5s infinite;
}

.add-and-remove-button {
  width: 225px;
}
/*
.kebab {
  animation-name: changeBgColor;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
a style for our advertisement that we removed that :( */
.rounded-img {
  border-radius: 10%;
  width: 200px; 
  height: 180px;
}
          .rounded-box {
              border-radius: 10px;
          }
          
          .site-header .navbar {
              border-radius: 0; /* Remove rounded corners */
          }
          
          .content-section {
              border: 1px solid #ccc;
              border-radius: 10px;
              padding: 10px;
          }
          
          .advertisement {
              border-radius: 10px;
          }
          
          .site-footer .col-md-4 ul li span {
              border-radius: 10px;
              display: inline-block;
              padding: 5px 10px;
              background-color: #f8f9fa;
              margin-bottom: 5px;
}
