{% extends "layout.html" %}
{% block content %}
  <h1 class="product-info-heading blink-blue">Add product to the shop</h1>
    <form method="POST" action="{{ url_for('admin') }}" class="text-center">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="name">Product Name:</label>
          <input type="text" id="name" name="name" class="form-control" autocomplete="off"><br>
        </div>
        <div class="col-md-4">
          <label for="price">Product Price:</label>
          <input type="number" id="price" name="price" min="0" step="any" class="form-control" autocomplete="off"><br>
        </div>
        <div class="col-md-4">
          <label for="image">Product Image Link:</label>
          <input type="text" id="image" name="image" class="form-control"><br>
        </div>
      </div>
      <input type="submit" value="Add" class="btn btn-primary add-and-remove-button">
    </form>
    {% for product in products %}
        <article class="media content-section">
          <div class="media-body">
            <div class="row align-items-center">
              <div class="col-md-8">
                <div class="article-metadata">
                  <label for="product-name">Product Name:</label>
                  <h3 class="mr-2" id="product-name">{{ product.name }}</h3>
                  <label for="product-price">Product Price:</label>
                  <h4 class="text-muted" id="product-price">{{ product.price }}$</h4>
                  <p>{{ product.cost }} Rials</p>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <img src="{{ product.image }}" height="200" width="200" alt="Image" class="rounded-img img-fluid">
              </div>
              <div class="col-md-4 text-right">
                <h1 class="product-info-heading">Product Information</h1>
              </div>
            </div>
          </div>
        </article>
    {% endfor %}
    <br>
    <br>
    <br>
    <h1 class="product-info-heading blink-red">Remove product from the shop</h1>
    <form method="POST" action="{{ url_for('remove_from_warehouse') }}" class="text-center">
      <label for="name">Product Name:</label>
      <input type="text" id="name" name="name" class="form-control" autocomplete="off"><br>
      <input type="submit" value="Remove" class="btn btn-danger add-and-remove-button">
    </form>
{% endblock content %}
