<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Online Shop - {{ title }}</title>
    {% else %}
        <title>Online Shop</title>
    {% endif %}
</head>
<body>
    <!-- create a nav bar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel rounded-box fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Online Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <!-- add these words in the nav bar-->
                            <a class="nav-link" href="{{ url_for('admin') }}">Admin Panel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('cart') }}">Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
              <!-- messages that we wante to display in the page :(-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock content%}
            </div>
            <div class="col-md-4">
                <div class="content-section rounded-box">
                    <h3>Advertisement</h3>
                    <p class="text-muted">advertisement help us keep this online shop free.</p>
                    <ul class="list-group">
                      <!-- links for our side bar-->
                        <li class="list-group-item list-group-item-light advertisement"><a href='https://www.digikala.com/'>Our other website</a></li>
                        <li class="list-group-item list-group-item-light advertisement"><a href='https://www.google.com/maps/place/%D8%AF%D8%A7%D9%86%D8%B4%DA%A9%D8%AF%D9%87+%D9%85%D9%87%D9%86%D8%AF%D8%B3%DB%8C+%D8%B5%D9%86%D8%A7%DB%8C%D8%B9+%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87+%D8%B5%D9%86%D8%B9%D8%AA%DB%8C+%D8%B4%D8%B1%DB%8C%D9%81%E2%80%AD/@35.7040543,51.3508202,18.51z/data=!4m6!3m5!1s0x3f8e00a8ecd00001:0x313ae76059e1e204!8m2!3d35.7037749!4d51.3504977!16s%2Fg%2F11dyp5sfrv?entry=ttu'>Pay us a visit</a></li>
                        <li class="list-group-item list-group-item-light advertisement"><a href='https://gamein.ie.sharif.ir/'>The greatest student event in the country!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <br>
    <br>
    <br>
      <!-- create a footbar-->
      <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Co-working</h3>
                    <p class="text-muted">Try our best to impress us by sending your resume, We are looking for unexperienced but talented programmers.</p>
                </div>
                <div class="col-md-4">
                    <h3>Contact us</h3>
                    <p class="text-muted">Email: AP-Project2@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h3>Creators</h3>
                    <ul>
                        <li><span data-name="Sobhan Kasaei">Sobhan Kasaei</span></li>
                        <li><span data-name="Ali Bozorgmehry">Ali Bozorgmehry</span></li>
                        <li><span data-name="Kimia Ziaei">Kimia Ziaei</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>